<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.rbsdirect.com.br/imagesrc/25728827.jpg?w=700" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h4 style="color: black;">CBR 650R</h4>
        <p style="color: black;">Lançamento</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://tudodemotos.com.br/wp-content/uploads/2019/03/tn_honda-cb-1000r-2020-14.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h4 style="color: black;">CB 1000R Neo Sports Café</h4>
        <p style="color: black;">Em promoção</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://girodosmotores.com/wordpress/wp-content/files/girodosmotores.com/2022/02/honda-lanca-modelo-black-edition-da-nova-cb-1000r-01.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h4 style="color: black;">CB 1000R Black Edition</h4>
        <p style="color: black;">Mais comprado</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  
</div>

  <hr>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col"> 

      <div class="card" style="width: 80%; margin-left: 10%;">
        <a href=""><img src="https://www.motonline.com.br/noticia/wp-content/uploads/2021/11/Honda-Biz-110i-32.jpg" class="card-img-top"  alt="..." ></a>
        <div class="card-body" style="background-color: black;">
          <h5 class="card-title" style="color: white;"> Biz 110i</h5>
          <p class="card-text" style="color: white;">Deixamos o porta-objetos da Biz ainda maior: você pode levar os seus cadernos, livros, compras e, claro, o seu capacete. A sua companheira está de cara nova e pronta para o que der e vier.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 80%; margin-right: 10%;">
        <a href=""><img src="https://blogger.googleusercontent.com/img/a/AVvXsEjEGW9_BFrj0uhqrAyqALCla0ryxbxp7Gf4gXfKCK567qSdlp7YE5mkTKN6wBoI-s7ZmB3fq4ubf-lDE68PnFniFIL8rfQuff9UyPVl6KDgY7y7C0O3H19WSh9eKQiuAPrTdPRHCA6dzCMRJlLhxoYk_Ne2XT3XLwHnrS0pVq7EPxRUl9ozuCAHLubndg=s600" class="card-img-top" alt="..."></a>
        <div class="card-body" style="background-color: black;">
          <h5 class="card-title" style="color: white;">CB 1000R Black Edition</h5>
          <p class="card-text" style="color: white;">Musculosa e agressiva, a CB 1000R foi a precursora do estilo Neo Sports Café, combinando um design ainda mais minimalista com a as clássicas linhas das Café Racers. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 80%; margin-left: 10%; ">
        <a href=""> <img src="https://www.minutomotor.com.br/wp-content/uploads/2021/06/XRE190-SE_EST-7-1024x683.jpg"  class="card-img-top" alt="..." style="height: 80%;"></a>
        <div class="card-body" style="background-color: black;">
          <h5 class="card-title" style="color: white;">XRE 190</h5>
          <p class="card-text" style="color: white;">A XRE 190 ABS combina com o seu espírito de aventura. O painel, totalmente digital, permite ao piloto uma fácil visualização e leitura intuitiva da moto.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 80%; margin-right: 10%;">
        <a href=""><img src="https://www.encontracarros.com.br/upload/honda-motos/honda-x-adv-2022-13.jpg" height="350" class="card-img-top" alt="..." style="height: 80%;"></a>
        <div class="card-body" style="background-color: black;">
          <h5 class="card-title" style="color: white;">X-ADV</h5>
          <p class="card-text" style="color: white;">A X-ADV é realmente um “SUV de duas rodas”. Seu quadro, ainda mais leve, e o assento redesenhado facilitam o acesso ao solo, enquanto que o moderno painel TFT de 5”, o para-brisas ajustável em 5 níveis.</p>
        </div>
      </div>
    </div>
  </div>


