<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contato</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Sobre</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Locais</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Politica e Privacidade</a></li>
      </ul>
      <p class="text-center text-muted">© 2021 Company, Inc</p>
    </footer>
  </div>